section.add-listings {
    padding: 0 30px;

    .breadcrumb {
        margin-bottom: 30px;
    }
    .title{
      
    .add-listings__header {
        .h2g-typography {
            color: #777;
            font-weight: 100;
        }
        margin-bottom: 30px;
    }
    }
    .choose-category{
       
        .h2g-typography {
            color: #777;
            font-weight: 100;
        }
        margin: 30px 0;

        .render-fields{
            .h2g-picker, .h2g-picker-input {
                border: 0;
                border-radius: 0 !important;
            }
            input, textarea, .h2g-select-selector{
                border-radius: 0 !important;
                border: 0 !important;
                border-bottom: solid 1px #ccc !important;
            }
            .h2g-upload-list-item-container{
                width: 240px !important;
                height: 240px !important;
            }
        }
        .h2g-form{
            min-height: 400px;
        }    
        .choose-category__steps{
            margin-bottom: 30px;
           
                   
        }
        .show{
            height: 100% !important;
            overflow: visible;
        }
        .step-1,.step-2,.step-3:not(.show){
            overflow: hidden;
            height: 0;
        }
        
    }

}